flow3.txt
[
    {
        "id": "bd678827.93f658",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9959df4b.7b42b",
        "type": "inject",
        "z": "bd678827.93f658",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "83360b4e.8d6628"
            ]
        ]
    },
    {
        "id": "83360b4e.8d6628",
        "type": "function",
        "z": "bd678827.93f658",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"jh9uDzcszNN44BpF\"\n}\nmsg.payload=\"Temperature,,26\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "492c5ca7.3ddf04"
            ]
        ]
    },
    {
        "id": "492c5ca7.3ddf04",
        "type": "http request",
        "z": "bd678827.93f658",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DeSmf0d6/datapoints.csv",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "54ee0f3e.938d8",
                "89aebf29.5015c"
            ]
        ]
    },
    {
        "id": "54ee0f3e.938d8",
        "type": "http response",
        "z": "bd678827.93f658",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "89aebf29.5015c",
        "type": "debug",
        "z": "bd678827.93f658",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 360,
        "wires": []
    }
]
